@mixin flexy($dsp: flex, $dir: null, $falign: null, $wrap: null) {
  display: $dsp;
  flex-direction: $dir;
  justify-content: $falign;
  flex-wrap: $wrap;
}

// Center
@mixin centerLayout() {
  width: 90%;
  margin: 0 auto;
}
