// Descriptive Colors
$white: #fff;
$black: black;
$lightgrey: lightgrey;

// hr bck-color
$bk-color: rgb(107, 101, 101);

// Alignment
$center: center;

// Breakpoints
$break-s: "(min-width: 400px)";
$break-m: "(min-width: 769px)";
$break-l: "(min-width: 1024px)";
