/* ********************************* CONTENT ******************************** */

.gallery {
  margin: 50px 0;
}

.flex-container {
  @include flexy($wrap: wrap, $falign: center);

  a {
    padding: 20px;
  }

  img {
    border: 1.2px solid #cccc;
    padding: 8px;
    background: rgba(255, 255, 255, 0.8);
  }
}

// Plugin text format
figure {
  font-size: 23px;
  line-height: 2;
  letter-spacing: 0.089em;
  font-weight: 600;
}
